@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --blue-color: #4458dc;
    --purple-color: #854fee;
    --title-color: #141313;
    --text-color: #777777;  
    --border-color: #201f1f17;  
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

* {
    font-family: "Winky Sans", sans-serif;
    transition: all 0.3s;
}

body {
    font-family: "Winky Sans", sans-serif;
    scroll-behavior: smooth;
    background-color: #7777770e;
}



.nav-link {
    color: var(--title-color);
    font-weight: 600;
}


.navbar-toggler:focus {
    box-shadow: none;
}

.fa-solid {
    color: var(--title-color);
    font-size: 1.3rem;
}

.fa-solid:hover {
    opacity: 0.8;
}

.title {
    font-size: 50px;
    word-spacing: 20px;
}

.content {
    background: url(img/banner/home-banner.png) no-repeat 0% 50%; 
    background-size: cover;
    background-position: center;
}

.main-btn {
    background: linear-gradient(90deg, rgba(68,88,220,1) 0%, rgba(133,79,238,1) 35%);
    color: white;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s;
}

.main-btn:hover {
    color: white;
    scale: 0.95;
}

.second-btn {
    background-color: transparent;
    border: 1px solid var(--purple-color);
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s;
}

.second-btn:hover {
    border: 1px solid var(--purple-color);
    scale: 0.95;
}

.dash-title::after {
    content: "___________";
    width: 200px;
    height: 2px;
    margin-left: 10px;
}

.about-title {
    letter-spacing: 6px;
}

.techs {
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}

.techs img {
    padding: 10px;
}

.techs:hover {
    scale: 0.9;
    cursor: pointer;
    background-color: #77777728;
}

.desc-title {
    font-size: 80px;
    color: var(--purple-color);
}

.fa-phone {
    font-size: 2.5rem;
}

.call-title {
    color: var(--blue-color);
}

.main-title p {
    color: var(--text-color);
}

.card {
    background-color: white;   
    cursor: pointer;
}

.card:hover {
    scale: 0.9;
}

.card-text {
    color: var(--text-color);
}

.card-title {
    text-transform: uppercase;
}

.card-img {
    cursor: pointer;
    transition: all 0.3s;
}

.card-img:hover {
    scale: 0.9;
}

.card-img p {
    color: var(--text-color);
}

